%filterEl{
	width: auto;
	margin: 0; 
	margin-right: 5px;
	margin-bottom: 5px;
	@include media-max(xs){flex-grow: 1; }
	@include media-max(xxs){flex-basis: 100%;
		.line--2 &{flex-basis: 40%;}
	}
}

.filters{
	%input:not(.select2-selection),
	select,
	.input-group,
  	.select2FW-wrapper{@extend %filterEl; }
  	.select2FW-wrapper{min-width: 0;
		.select2-container{margin: 0px; max-width: 300px; min-width: 150px; width: auto !important;
			@include media-max(xs){min-width: 0; max-width: none; width: 100% !important; }
		}
  	}
  	.input-group{@extend .form-shrink; 
  		%input:not(.select2-selection){margin: 0;
  			&+.squared{ border-radius: 0; z-index: 1; }
  		}
  	}
	%input{
		&.select2-selection{transition: none; border-color: transparent;}
	}
	.select2-container .select2-selection--single .select2-selection__rendered{ padding-right: 30px;}
  	.select2-dropdown{ max-width: 90vw;
  		 // min-width: fit-content;
  	}
	.select2-container .select2-selection--single .select2-selection__rendered{color: inherit;}
	.select2-dropdown{background: $primary; color: contrastFW(white,$primary); border-color:$primary;  border-color: rgba(255,255,255,0.1);}
  	.select2-container--default .select2-results__option[aria-selected=true],
  	.select2-container--default .select2-results__option--highlighted[aria-selected]{background: lighten($primary,10);}

	select option{background: $primary; color: contrastFW(white,$primary);border-color:$primary;}

	input.checkbox,
	input.radio,
	input[type="checkbox"],
	input[type="radio"]{
		&+label{
			position: relative; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
			// @include paper();
			background: color(white);
			border-color: color(white);
			color:contrastFW(btn(font-color),color(white));
		    margin: 0 5px 5px 0;
    		padding: .3em .6em;
    		font-size: 1em;
  			line-height: 1.5em;
    		@if btn(radius) == true{
			    border-radius: $radius;
			}
			@include transition(all .2s ease-in-out);
			&:after,
			&:before{display: none;}
		}
		&:checked+label,
		&+label:hover {background: $primary; border-color: $primary; color:contrastFW(white,$primary);}
	}
}
.filters__line{display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 5px; flex-wrap: wrap; padding: 5px 0  0 5px;
	&.line--1{background: $primary; color: contrastFW(white,$primary); 
		%input{background: none; color: inherit; border-color:$primary; 
			&, &.focus, &:focus{@include input-placeholder{color: rgba(contrastFW(white,$primary),0.7); } }
		}
		.select2-container--default .select2-selection--single .select2-selection__placeholder{color: rgba(contrastFW(white,$primary),0.7);}

		%btn.squared{ border-radius: 0; background: $primary; border-color: $primary; color: currentColor; min-height: 2em;}
		.input-group %btn.squared{margin: 0; }
		input.checkbox,
		input.radio,
		input[type="checkbox"],
		input[type="radio"]{
			&:checked+label,
			&+label:hover {background: lighten($primary,10); border-color: lighten($primary,10); color:contrastFW(white,lighten($primary,10));}
		}
	}
	&.line--2{margin: 0 -4px;}
}
.filters__col{display: flex;flex-grow: 1;flex-wrap: wrap; align-items: center;  min-width: 300px; order: 1;
	@include media-max(xs){min-width: 100%; flex-basis:  100%;}
	&.col--right{justify-content: flex-end; order: 2;}
	&:only-child{flex-basis: 100%;}
	&>%btn{margin: 0; margin-right: 5px; margin-bottom: 5px;}
}
.filters__group{display: flex; align-items: center; margin: 0 5px 5px 5px; flex-wrap: wrap;
	label{margin: 0; line-height: 1.5em; padding: 0.25em 0; white-space: nowrap; margin-right: 0.25em; }
	&.above{display: block;
		label{display: block; font-size: 0.75em; margin-bottom: -0.5em; margin-left: 0.5rem;}
	}
	%filterEl{margin: 0;}
	// %input.select2-selection{padding-left: 0;}
	@include media-max(xxs){width: 100%;
		label,
		.select2FW-wrapper{flex-grow: 1; flex-basis: 50%; margin-right: 0;}
	}
}
